
            body
            {
                background: linear-gradient( to top right,#3636B2,#02C0FC );
                background-size: cover;
                height: 100%;
                overflow: hidden;
                background-repeat: no-repeat;
            }
			
			.heading
            {
                padding-top:2%;
                margin: 2% 0 0  35%;
                color: white;
                text-transform: capitalize;
				font-family:Alegreya;
				font-size:38px;
               
            }
			
            .formcss
            {
                background: white;
                width: 80%;
                height: auto;
				margin-top:3%;
                margin-left:10%;
                border-top-left-radius:15%;
                border-bottom-left-radius: 15%;
            }
			
			form .inputelementscss
            {
                
                margin-left: 9%;
                 
            }
			
			form .input
            {
                color:#3636B2;
                width:40%;
                margin:2% 0% 0.5% 4%;
                height: 35px;
                border-style:ridge;
                border-radius:7px;
                border-width:1px;
            }
			
            #caption
	     	{
				text-transform: capitalize;
		    }
			
			::placeholder, label
            {
                color: #3636B2;
               
            }
           
            select:focus, input:focus
			{
                outline: none;
                box-shadow: 0px 0px 5px #61C5FA;
                border:1px solid #5AB0DB;
				
            }
            
            select:hover, input:hover 
			{
            
                border-radius: 7px;
                border-style:ridge;
				
            }
            
            select:focus:hover,input:focus:hover
			{
                outline: none;
                box-shadow: 0px 0px 5px #61C5FA;
                border:1px solid #5AB0DB;
                border-radius:7px;
				
            }
        
			form .radio
			{
				width: 40%;
				height:35px;
				border-style:ridge;
				border-width:1px;
                border-radius:7px;
				border-color:gray;
				margin:2% 0% 0.5% 4%;
				font-family: 'Helvetica', Arial, Lucida Grande, sans-serif;
				font-size: 13px;
				display:inline-block;
			}
        
			form select
            {
                width:40%;
                margin:2% 0% 1% 4%;
                height:35px;
                border-style:ridge;
                border-radius:7px;
                border-width:1px;
				color:#3636B2;
            }
			
            form .register
            {
                border:0;
                background-color:#0162CD;
                height: 50px;
                color:white;
                font-size:25px;
                font-weight: bold;
                width: 150px;  
                position: relative;
                margin: 2% 0 2% 40%;
                border-radius: 5px;
            }

            
			
            
            
			
			
            
         
            